.git
.github
.venv
venv
env
node_modules
kor35-app
dist
build
react_build
conf/nginx-docker/react_build
conf/nginx-docker/postgres_data
conf/nginx-docker/static_data
conf/nginx-docker/media_data
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.mypy_cache
.ruff_cache
.coverage
htmlcov
db.sqlite3
media
staticfiles
*.log
