/*
 * Nasconde l'intestazione "originale" per gli inline tabulari
 * che usano la classe StatisticaPivotInlineBase.
 */
.inline-group .tabular tr.has_original td:first-child {
    /* Nasconde il link/testo, ma mantiene lo spazio per il pulsante "elimina" se attivo */
    text-indent: -9999px;
    overflow: hidden;
}

/* Se vuoi nascondere anche il nome della tabella (es. "STATISTICA (VALORE BASE):") */
/*
.inline-group h2 {
    display: none;
}
*/
fieldset.collapsed .inline-group {
    display: none !important;
}

fieldset.collapse .moved-inline {
    margin-top: 15px;
    border-top: 1px solid #eee; /* Una linea separatoria leggera */
    padding-top: 10px;
}

/* Nascondi il titolo h2 dell'inline se vuoi che sembri un tutt'uno (Opzionale) */
fieldset.collapse .moved-inline h2 {
    font-size: 13px;
    color: #666;
    background: none;
    padding-left: 0;
}

/* --- REGOLA FONDAMENTALE PER IL COLLASSO --- */
/* Quando il fieldset ha la classe 'collapsed', nascondi tutto ciò che ha classe 'moved-inline' */
fieldset.collapsed .moved-inline,
fieldset.collapsed #req_doppia_rel-group,
fieldset.collapsed #req_caratt_rel-group {
    display: none !important;
}
